<%- include('./partials/header') %> 
<header>

    <div class="smoothie">
        <img src="/smoothies.png" alt="">

    </div>
    <div class="headings">
        <h2>smoothie Recipes</h2>
        <h3>By Ninjas For Ninjas</h3>
        <a href="/smoothie" class="btn">View Recipes</a>
    </div>
</header>

<%- include ('./partials/footer') %> 