<%- include('./partials/header') %> 

<ul class="recipes">
    <li class="recipe">
        <img src="/smoothies.png" alt="">
        <h4>Banana Boost</h4>
        <p>Banana, Vanilla ice cream milk</p>
    </li>
    <li class="recipe">
        <img src="/smoothies.png" alt="">
        <h4>Banana Boost</h4>
        <p>Banana, Vanilla ice cream milk</p>
    </li>
    <li class="recipe">
        <img src="/smoothies.png" alt="">
        <h4>Banana Boost</h4>
        <p>Banana, Vanilla ice cream milk</p>
    </li>
    <li class="recipe">
        <img src="/smoothies.png" alt="">
        <h4>Banana Boost</h4>
        <p>Banana, Vanilla ice cream milk</p>
    </li>
    <li class="recipe">
        <img src="/smoothies.png" alt="">
        <h4>Banana Boost</h4>
        <p>Banana, Vanilla ice cream milk</p>
    </li>
    <li class="recipe">
        <img src="/smoothies.png" alt="">
        <h4>Banana Boost</h4>
        <p>Banana, Vanilla ice cream milk</p>
    </li>
    <li class="recipe">
        <img src="/smoothies.png" alt="">
        <h4>Banana Boost</h4>
        <p>Banana, Vanilla ice cream milk</p>
    </li>
    <li class="recipe">
        <img src="/smoothies.png" alt="">
        <h4>Banana Boost</h4>
        <p>Banana, Vanilla ice cream milk</p>
    </li>
</ul>



<%- include('./partials/footer') %> 